 #fmain {
  height: auto;
  width: 100%;
 }
 #fleft {
  float: left;
  height: 800px;
  width: 80%;
 
 }
 #fright {
  float: left;
  width: 15%;
  height:200px;
  margin-left:20px;
 }   