html, body, div, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dt, dd, p, span, em, b, i, 
label, input, select, textarea{margin:0px; padding:0px;}
body
{
    height:100%;
}
.search-condition{width:98%; background:url(../images/search-condition-bg.gif) center bottom repeat-x; padding:0% 1% 0% 1%;}
.search-condition .table{width:100%;}
.search-condition .table td{height:35px; line-height:35px;}
.search-condition .table td.tit{padding-right:5px; width:75px; text-align:right;}
.search-condition .btn-wrap{text-align:center; vertical-align:middle;}
.search-content{padding:15px;}
.nui-form-label{
	font-size: 12px;
}
.nui-form-table {
	
	/* margin: 10px 0px; */
	padding: 0px;
	height: auto;
	/* margin-left:-3%; */
}

.nui-title{
	border:1px solid #8ba0bc;
	font-weight:bold;
	font-size:14px;
	background-image:url(images/toolbar/toolbar.png);
}

 .nui-center{
 	padding:10px 5px -10px 10px;
 }
 legend {display:block;width:100%;margin:0;
 	padding:0;}
 legend span{
 	color:#424141;
 	display:block;
 	border-bottom:1px solid #bbbbbb;
 	height:30px;line-height:30px;
 	width:100%;
 	margin:0;
 	padding-left:20px;
 	font-weight:bold;
 }

.nui-form {
	/* border:1px solid #8ba0bc; */
	background-color:#F7F9FB; 
	border:0px;
}

.nui-form-table tr {
	margin:20px 10px 10px 10px;
	padding: 0px;
	height: 26px;
	box-sizing:content-box;
	font-size:12px;
}
.nui-form-table .odd {
	/*background:#f7f4fd;*/
}
.nui-form-table th, .nui-form-table td {
    border-left:0px;
    border-top:0px;
    border-collapse: separate;
	margin: 0px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-top: 0px;
	box-sizing:content-box;
	font-size: 12px;
	height:32px;
	line-height:32px;
}
.mini-panel-border
{
    height:auto;
}
.mini-menu-inner
{/*在窗口高度不够时，菜单会被隐藏，因此要设置为auto*/
	overflow-y: auto;
}

.mini-panel-body, .mini-grid-rows-view {/*在窗口高度不够时，会被隐藏，因此要设置为auto*/
	overflow: auto;
}
.mini-grid-rows-view {
	height:auto;
}

.mini-textbox,.mini-radiobuttonlist-item {
	font-size: 12px;
}
..mini-textboxlist .mini-textboxlist-input{
	font-size: 10px;
	color: gray;
	width:120px;
	font-style: italic;
}
.mini-textbox-border {
}
.mini-grid-headerCell-inner{
	white-space:normal;
}/*修正：列表表头中的每个单元格可换行*/
